.login-container{
    flex: 1 1 auto;
    background: radial-gradient(rgba(24, 26, 33, 0) 0%, #181A21 100%) fixed no-repeat, url("https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg") center top no-repeat, #181A21;
    padding-top: 80px;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-dialog{
    width: 700px;
    position: relative;
    padding-top: 5px;
}

.login-head{
    color: #fff;
    font-size: 32px;
    letter-spacing: .055em;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
    padding-bottom: 32px;
}

.login-body{
    background-color: #181a21;
    border-radius: 4px;
    padding: 32px 32px;
    flex: 1;
}

.login-body-box{
    display: flex;
    flex-direction: row;
    flex: 1;
}

.login-form{
    flex: 1;
    display: grid;
    grid-row-gap: 12px;
    grid-column-gap: 12px;
    grid-template-columns: 1fr;
}

.text-field{
    display: grid;
    grid-template-areas:
        "label hint"
        "input input";
    grid-template-columns: 1fr min-content;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
}

.login-form-text{
    font-size: 12px;
    color: #afafaf;
    letter-spacing: .02em;
    user-select: none;
}

.top-hint{
    color: #1999ff;
    font-weight: 500;
}

.input-window{
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
}

.input-window:hover{
    background-color: #393c41;
}

.checkbox-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.checkbox-container{
    width: 14px;
    height: 14px;
    padding: 3px;
    border-radius: 2px;
    background-color: #393c44;
    cursor: pointer;
}

.checkbox-hint{
    color: #afafaf;
    font-size: 12px;
    user-select: none;
    padding-left: 6px;
}

.sign-in-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in-button{
    width: 270px;
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    letter-spacing: .03em;
    cursor: pointer;
}

.sign-in-button:hover{
    background: linear-gradient(90deg, #31caff 0%, #6196ff 100%);
}

.sign-in-error{
    color: #c15755;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
}

.login-help{
    text-align: center;
    color: #afafaf;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.beta-section{
    flex: 0;
    margin-left: 24px;
}

.beta-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
}

.new-login-function{
    color: #1999ff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0px;
    text-transform: uppercase;
    letter-spacing: .02em;
}

.beta-dialog{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    width: 220px;
}

.beta-dialog-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #afafaf;
    margin: 8px;
}

.qr-code{
    width: 33px;
}

.details{
    background-color: rgba(255,255,255,.1);
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
}

.for-beta-testers{
    text-align: center;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #afafaf;
    padding: 12px 5px;
    cursor: pointer;
}